body{
    display: flex;
    justify-content: center;
    margin: 50px 50px;
    font-family: 'Helvetica', sans-serif;
}

.container{
    border: 1px solid black;
    padding: 20px;
}

h3{
    font-weight: normal;
    font-size: 17px;
}

h3, p{
    padding: 50px;
    border: 1px black solid;
    margin: 0;
    text-align: center;
}

p{
    white-space: nowrap;
}

.workWeek{
    display: flex;
}

.week{
    display: flex;
}

.weekend{
    display: flex;
}

.saturday{
    width: 418px;
}

.sunday{
    width: 418px;
}

.weekendDays{
    width: 889px;
}

.reminders{
    padding: 60px;
    border: 1px black solid;
    margin: 0;
    text-align: center;
}

.specialDates{
    max-width: 96px;
    padding: 60px;
    border: 1px black solid;
    margin: 0;
    white-space: nowrap;
}

