@import url('https://use.fontawesome.com/releases/v5.13.0/css/all.css');

body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

header > div > h1 {
    margin-right: 20px;
    border-right: 1px solid #8A837B;
    padding-right: 20px;
}

.title {
    display: flex;
}

.title-description {
    align-self: center;
    font-size: 13px;
    margin-top: 10px;
    color: #8A837B;
}

.nav {
    display: flex;
}

li {
    list-style: none;
    padding: 15px;
    background-color: #ECECEC;
    margin-right: 2px;
    color: #8A837B;
}

.first-link {
    background-color: #E24E2A;
    color: white;
}

main > div {
    height: 445.33px;
}

.banner {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

footer {
    background-color: #1B9772;
    padding: 40px 0;
    text-align: center;
}

footer > p {
    color: #4CAD90;
}

footer > p > strong {
    color: #80D1C4;
}

.description {
    background-color: #E24E2A;
    text-align: center;
}

.description > p {
    color: #EB9F9C;
    padding: 40px 150px;
    margin: 0;
}

.description > p > strong {
    text-decoration: underline;
    color: white;
}

.button {
    text-align: center;
    margin: 50px 0;
}

.button > h1 {
    margin-bottom: 0;
    font-weight: 100;
    color: #575757;
}

.button > p {
    margin-top: 2px;
    color: #B2B2B2;
}

button {
    padding: 10px 20px;
    background-color: #1B9772;
    color: white;
    border-style: none;
}

.articles-without-icons, .articles-with-icons {
    background-color: #383838;
    display: flex;
    padding: 60px 20px;
    text-align: center;
}

.article-title {
    color: white;
}

.article-paragraph {
    color: #6C6B6B;
}

i {
    background-color: #E24E2A;
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 10px;
}