@media all and (max-width: 600px){
    .inner{
        width: 100%;
    }

    .wrapper > .inner{
        width: 100%;
    }

    .features{
        flex-direction: column;
    }

    .feature{
        width: 100%;
    }

    body > section.wrapper.style2.special > div{
        width: 100%;
    }

    .grid-form{
        flex-direction: column;
    }

    .grid-form .form-control.narrow{
        width: 100%;
    }

    .banner > h2{
        width: 100%;
        font-size: 100%;
    }
}