html {
    box-sizing: inherit;
}

section {
    width: 250px;
    height: 240px;
    border: 5px dotted rgb(64, 224, 208);
    margin: auto;
    text-align: center;
    margin-top: 60px;
}

p {
    width: 100%;
    border: 10px solid blue;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}