body {
    background-color: rgb(238, 238, 238);
    margin: 30px 60px;
    font-family: 'Helvetica', sans-serif;
    font-size: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 2px solid black;
}

.navigation {
    display: flex;
    background-color: white;
    border-radius: 5px;
    padding: 0;
    flex-wrap: wrap;
}

.nav{
    list-style: none;
    margin: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 6px 10px;
}

.categories, .social {
    display: block;
}

.page{
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid black;
}

main{
    width: 70%;
}

img{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

.firstImg{
    float: right;
    max-height: 100px;
}

.secondImg{
    float: left;
    margin-right: 10px;
    max-height: 50px;
}

blockquote{
    display: block;
    font-family: 'Georgia', serif;
    border-left: 2px solid gray;
    padding-left: 20px;
    max-width: 330px;
}

cite{
    padding-left: 200px;
}

aside{
    align-self: flex-start;
    margin-left: 100px;
}

a{
    color: rgb(0, 153, 0);
}

@media all and (max-width: 450px){
    header{
        border: none;
        justify-content: center;
    }

    span::after{
        content: "X Menu";
        display: block;
    }

    .page{
        justify-content: center;
        border: none;
    }

    .navigation{
        display: block;
        padding: 2px 0px;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        border-radius: 0;
    }

    h1{
        padding-left: 20px;
        flex-basis: 100%;
        align-self: center;
    }

    span{
        display: flex;
        align-self: center;
        font-weight: bold;
        font-size: 15px;
    }

    nav{
        width: 100%;
    }

    aside{
        margin: 10px 0px;
    }

    main{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .firstImg, .secondImg{
        float: none;
    }

    cite{
        padding: 0;
    }
}

@media all and (min-width: 1700px){
    body{
        font-size: 12px;
    }
}

@media all and (max-width: 1100px){
    header{
        border: none;
        justify-content: center;
    }

    span::after{
        content: "X Menu";
        display: block;
    }

    .page{
        justify-content: center;
        border: none;
    }

    .navigation{
        display: block;
        padding: 2px 0px;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        border-radius: 0;
    }

    h1{
        padding-left: 20px;
        flex-basis: 100%;
        align-self: center;
    }

    span{
        display: flex;
        align-self: center;
        font-weight: bold;
        font-size: 15px;
    }

    nav{
        width: 100%;
    }

    aside{
        margin: 10px 0px;
    }

    main{
        width: 100%;
    }

    cite{
        padding: 0;
    }
}